<footer>
    <p class="copyright">Copyright: Matias Galeano @2022</p>
    <div class="social">
        <a href="https://instagram.com/matigaleanodev" target="_blank" class="social-icon instagram">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/matigaleanodev/" target="_blank" class="social-icon linkedin">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://github.com/MatiGaleano" target="_blank" class="social-icon github">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
    </div>
    <a routerLink="about" class="about">About</a>
</footer>
