.copyright {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    color: #777;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social-icon {
    display: flex;
    padding-top: 0.15rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--colorClaro);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}
.twitter {
    background-color: #1da1f2;
}
.github {
    background-color: #24292e;
}
.linkedin {
    background-color: #0077b5;
}
.about{
    align-items: center;
    color: var(--colorBotonVerde);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}
.about:hover{
    color: var(--colorOscuro);
}