<form 
    [formGroup]="form"
    class="add-form" 
    (ngSubmit)="onSubmit($event)" 
    autocomplete="off"
    *ngIf="showAddTask"
>
    <div class="form-control">
        <label for="text">Task</label>
        <input 
            type="text" 
            name="text"
            formControlName="text"
            id="text" 
            placeholder="Asignr una Tarea"
            required minlength="8"
            
    >
    </div>
    <div *ngIf="Text?.errors  && Text?.touched">    
        <p *ngIf="Text?.hasError('required')" class="alert">
            La tarea es requerida!
        </p>
        <p *ngIf="Text?.hasError('minlength')" class="alert">
            El formato de la tarea es invalido!
        </p>
    </div>

    <div class="form-control">
        <label for="day">Day</label>
        <input 
            type="datetime-local"
            name="day"
            formControlName="day" 
            id="day" 
            value="2022-05-05"
            >
    </div>
    <div *ngIf="Day?.errors  && Day?.touched">    
        <p *ngIf="Day?.hasError('required')" class="alert">
            Agregue una fecha valida para la tarea!
        </p>
    </div>

    <div class="form-control form-control-check">
        <input 
            type="checkbox" 
            name="reminder"
            formControlName="reminder" 
            id="reminder"
            >
        <label for="reminder">Reminder</label>
    </div>
    
    <input type="submit" value="Save task" class="btn btn-block btn-submit">
</form>
